/* hide scroll bar  */
::-webkit-scrollbar{
    display: none;
}
.linkedin svg{
    color: #0077b5;
}

.linkedin svg:hover{
    color: #014c75;
}
.github svg{
    color: rgb(29, 234, 138);
}

.github svg:hover{
    color: rgb(0, 255, 0);
}

.instagram svg{
    color: #e1306c;
}

.instagram svg:hover{
    color: #c13584;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    /* color: rgb(41, 236, 174); */
    margin-top: 30px;
}


span {
    color: rgb(233, 233, 233);
    font-size: 1.9rem;
    font-weight: 900;
    margin-left: 10px;
    position: relative;
    -webkit-text-stroke: 1px rgb(41, 236, 174);;
    text-transform: uppercase;
  }
  
  span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(41, 236, 174);;
    -webkit-text-stroke: 0px #fff;
    overflow: hidden;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animate {
  
    0%,
    10%,
    100% {
      width: 0;
    }
  
    70%,
    90% {
      width: 100%;
    }
  
  }

